.toy-icon {
  --toy-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--toy-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .toy-icon--#{$val} {
    --toy-icon-color: var(--toy-color-#{$val});
  }
}
